.nav {
  z-index: 2;
  cursor: auto;

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    .menu_toggle {
      width: 30px;
      display: flex;
      align-items: center;
      svg {
        position: fixed;
      }
      &:hover {
        .burger {
          g {
     stroke: #cbbd70;
          }
        }
        .close {
          g {
            stroke: #fff;
          }
        }
      }
    }
  }

  .nav_overlay {
    position: fixed;
    border-radius: 33px;
    background: #232323;
    top: 105px;
    height: 656px;
    overflow: hidden;
    padding: 25px;
    transition: transform 3s cubic-bezier(1, 0, 0, 6), all 1s,
      -webkit-transform 1s cubic-bezier(0.77, 0, 0.175, 1);
    transition-timing-function: 3s cubic-bezier(0.16, 1.08, 0.38, 0.98);
    display: flex;
    justify-content: space-between;

    .nav_links {
      position: relative;
      min-height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: flex-start;
      margin-top: 38px;
      margin-left: 48px;
      margin-right: 48px;
      flex: 2;

      .nav_item {
        list-style: none;
        position: relative;
        .title {
          .heading {
            color: #f4f2ee;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            text-transform: uppercase;
            cursor: pointer;
            font-family: var(--He-Rg);
          }
          .content {
            display: flex;
            flex-direction: column;
            padding-top: 20px;

            .book {
              border-radius: 9px;
              background: #cbbd70;
              outline: none;
              border: none;
              color: #000;
              text-align: center;
              font-family: var(--Gg-Md);
              font-size: 15px;
              font-style: normal;
              font-weight: 400;
              width: 235px;
              height: 51px;
              line-height: normal;
              margin-top: 85px;
              cursor: pointer;
            }
            .text {
              cursor: pointer;
              padding-right: 15px;
              font-family: var(--Gg-Md);
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 44px;
              letter-spacing: 1.4px;
              padding-top: 10px;
              width: fit-content;
              position: relative;
              overflow: hidden;
              text-transform: uppercase !important;
              background: linear-gradient(
                to right,
                #cbbd70,
                #cbbd70 50%,
                #8a8987 50%
              );
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              background-size: 200% 100%;
              background-position: 100%;
              transition: background-position 0.5s ease;
              text-decoration: none;
              &:hover {
                background-position: 0 100%;
              }
              &::after {
                content: "";
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                left: 0;
                display: block;
                height: 1px;
                transform: scaleX(0);
                margin-top: -8px;
                position: relative;
                transform-origin: bottom left;
                transition: transform 0.5s ease-out;
                width: 100%;
                background-color: #cbbd70;
              }

              &:hover {
                &::after {
                  transform: scaleX(1);
                  transform-origin: bottom left;
                }
              }
            }
          }
        }
      }
    }
    .right {
      width: 602px;

      height: 609px;
      position: relative;
      right: 0;
      top: 0;
      overflow: hidden;
      border-radius: 16px;
      padding-left: 40px;
      flex: 1;

      img {
        position: relative !important;
        width: max-content;
        height: auto;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        left: -105px !important;
        scale: 1.7;
        bottom: -100px !important;
        padding-top: 100px;
      }
    }
  }
}
@media only screen and (max-width: 1600px) {
  .nav {
  
    .nav_overlay {
      border-radius: 27px;
      top: 90px;
      height: 506px;
      padding: 20px;

  
      .nav_links {
        margin-top: 21px;
        margin-left: 32px;
        margin-right: 38px;
        flex: 2;
  
        .nav_item {
          .title {
            .heading {
              font-size: 15px;
              line-height: 16px;
            }
            .content {
              padding-top: 10px;
  
              .book {
                font-size: 14px;
                width: 200px;
                height: 45px;
                margin-top: 65px;
              }
              .text {
                font-size: 13px;
                line-height: 38px;
                letter-spacing: 1.4px;
                padding-top: 6px;
             
              }
            }
          }
        }
      }
      .right {
        width: 602px;
  
        height: auto;
        position: relative;
        right: 0;
        top: 0;
        overflow: hidden;
        border-radius: 16px;
        padding-left: 40px;
        flex: 1;
  
        img {
          left: -80px !important;
          scale: 1.6;
          top: -50px !important;
          padding-top: 100px;
          object-fit: cover;

        }
      }
    }
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .nav {

    .navbar {

      .menu_toggle {
        svg {
          width: 45.5px;
          height: 15.6px;
        }
        .close {
          scale: 1.5;
        }
        .line {
          display: none;
        }
      }
    }
    .nav_overlay {
      border-radius: 17px;
      top: 70px;
      height: 456px;
      padding: 15px;

      .nav_links {
        margin-top: 24px;
        margin-left: 24px;
        padding-right: 28px;
        flex: none;

        .nav_item {
          .title {
            .heading {
              font-size: 15px;
            .content {
              padding-top: 15px;
            }
              .book {
            
                margin-top: 25px;
              }
              .text {
                font-size: 13.5px;
                line-height: 40px;
                letter-spacing: 1.2px;
                padding-top: 6px;
              }
            }
          }
        }
      }
      .right {
        display: none;
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .nav {

    .navbar {

      .menu_toggle {
        svg {
          width: 45.5px;
          height: 15.6px;
        }
        .close {
          scale: 1.8;
        }
        .line {
          display: none;
        }
      }
    }
    .nav_overlay {
      border-radius: 0.9375rem;
      top: 88px;
      height: 85vh;
      max-height: 800px;
      padding: 20px;
      overflow-y: auto;

      .nav_links {
        position: relative;
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;
        margin-top: 18px;
        margin-left: 18px;
        margin-right: 18px;
        flex: none;

        .nav_item {
          .title {
            .heading {
              font-size: 1.125rem;

            }
            .content {
              display: flex;
              flex-direction: column;
              padding-bottom: 4.19rem;
              .book {
     
                display: none;
              }
              .text {
                padding-right: 15px;
                font-size: 0.875rem;
                line-height: 2.5rem;
                letter-spacing: 0.0875rem;     
                padding-top: 0;
                padding-bottom: 5px;
                width: fit-content;
                position: relative;
                overflow: hidden;
                text-transform: uppercase !important;
                background: linear-gradient(
                  to right,
                  #cbbd70,
                  #cbbd70 50%,
                  #8a8987 50%
                );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 200% 100%;
                background-position: 100%;
                transition: background-position 0.5s ease;
                text-decoration: none;
                &:hover {
                  background-position: 0 100%;
                }
                &::after {
                  content: "";
                  background: none repeat scroll 0 0 transparent;
                  bottom: 0;
                  left: 0;
                  display: block;
                  height: 1px;
                  transform: scaleX(0);
                  margin-top: -8px;
                  position: relative;
                  transform-origin: bottom left;
                  transition: transform 0.5s ease-out;
                  width: 100%;
                  background-color: #cbbd70;
                }

                &:hover {
                  &::after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                  }
                }
              }
            }
          }
        }
      }
      .right {
        display: none;
      }
    }
    .nav_overlay::-webkit-scrollbar {
      display: none;
    }
        .nav_overlay {
      scrollbar-width: none; 
    }
  }
}
