.section {
  max-height: 100%;
  min-height: auto;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .videoSection {
    border-radius: 15px;
    border: 1px solid rgba(203, 189, 112, 0.3);
    min-height: 900px;
    margin-top: 0.94rem;
    height: 65vh;
    overflow: hidden;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .transparentLayer {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
    }
    video {
      height: revert;
      width: 100%;
      scale: 1.05;
    }
    .coverImage {
      .coverImageMob {
        display: none;
      }
      img {
        width: auto !important;
      }
      .playbtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index:222;
        outline: none;
        border: none;
        background-color: transparent;
      }
    }

 

    .videoText {
      position: absolute;
      z-index: 9;
      bottom: 40px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      .heading {
        text-align: center;
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      .dec {
        text-align: center;
        font-family: var(--Gg-Rg);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        width: 40%;
        margin-bottom: 30px;
      }
      .knowMore {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .circle {
          cursor: pointer;
          outline: none;
          border: none;
          background-color: transparent;
          svg {
            overflow: hidden;
            position: relative;
            border-radius: 100%;
            .first {
              transition: all 0.25s ease-in;
              opacity: 1;
              perspective: 1000px;
            }
            .second {
              transform: translateY(-80px);
              transition: all 0.5s ease-out;
              opacity: 0;
              perspective: 1000px;
            }
          }
          &:hover {
            svg {
              .first {
                transform: translateY(80px) rotateY(45deg) rotateX(45deg); /* 3D rotation and translation */
                opacity: 0;
              }
              .second {
                transform: translateY(0px) rotateY(0deg) rotateX(0deg); /* Reset transform */
                opacity: 1;
              }
            }
          }
        }
        .text {
          color: #f4f2ee;
          text-align: center;
          font-family: var(--Gg-Md);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: uppercase;
          cursor: pointer;
          margin-top: 15px;
        }
      }
    }
  }
  .mob_videoText {
    display: none;
  }
  .brands {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 11rem;
    .logos {
      img {
        position: relative !important;
        opacity: 0.8;
      }
    }
  }
}
@media only screen and (max-width: 1600px) {
  .section {
    min-height: auto;
    .videoSection {
      border-radius: 12px;
      height: 71vh;
      margin-top: 10px;
      min-height: 500px;

      .videoText {
        bottom: -20px;
        scale: 0.8;
        .heading {
          font-size: 45px;
          margin-bottom: 10px;
        }
        .dec {
          font-size: 15px;
          line-height: 20px;
          width: 50%;
        }
        .knowMore {
          scale: 0.9;
        }
      }
    }
    .brands {
      height: 150px;
      img {
        scale: 0.8;
      }
    }
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .section {
    max-height: 100%;
    min-height: auto;
    .videoSection {
      border-radius: 15px;
      border: 1px solid rgba(203, 189, 112, 0.3);
      height: 485px;
      margin-top: 0px;
      width: 100%;
      position: relative;
      .coverImage {
        .coverImageLaptop {
          display: none;
        }
        .coverImageMob {
          display: block;

        }
        .playbtn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          z-index: 1;
          outline: none;
          border: none;
          background-color: transparent;
        }
      }

      .videoText {
        display: none;
      }
    }
    .mob_videoText {
      z-index: 9;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-direction: column;
      margin-top: 15px;
      .heading {
        text-align: left;
        font-size: 50px;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 95%;
      }
      .dec {
        text-align: left;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 20px;
        opacity: 0.6;
      }
    }
    .brands {
      width: 100%;
      height: 100px;
      margin-bottom: 30px;
      .logos {
        margin: 5px;
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .section {
    max-height: 100%;
    min-height: auto;
    padding-top: 10px;
    .videoSection {
      border-radius: 0.625rem;
      border: 1px solid rgba(203, 189, 112, 0.3);
      height: 22.3125rem;
      margin-top: 0px;
      width: 100%;
      video {
        scale: 1;
        height: 100%;
        width: min-content;
      }
      .coverImage {
        .coverImageLaptop {
          display: none;
        }
        .coverImageMob {
          display: block;

        }        .playbtn {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
          z-index:1;
          outline: none;
          border: none;
          background-color: transparent;
        }
      }
      .videoText {
        display: none;
      }
    }
    .mob_videoText {
      z-index: 9;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      height: auto;
      margin-top: 5px;
      .heading {
        text-align: left;
        font-size: 1.875rem;
        margin-bottom: 15px;
        margin-top: 15px;
        width: 95%;
      }
      .dec {
        text-align: left;
        font-size: 1rem;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        width: 100%;
        margin-bottom: 30px;
        margin-top: 5px;
        opacity: 0.6;
      }
    }
    .brands {
      width: 100%;
      height: auto;
      padding-bottom: 30px;
      padding-top: 30px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      .logos {
        margin: 5px;
      }
    }
  }
}
