.section {
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  overflow: visible;
  height: 100%;
  flex-direction: column;

  .first {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 100px;

    .left {
      flex: 1;
      height: 1200px;
      position: relative;
      overflow: hidden;

      img {
        height: auto !important;
        width: 100% !important;
        border-radius: 16px;
      }
    }
    .right {
      flex: 1;
      margin-left: 75px;
      margin-bottom: 220px;

      .heading {
        color: #fff;
        font-size: 90px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        margin-top: 20px;
      }
      .dec {
        color: #cbbd70;
        font-family: var(--Gg-Md);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
      .sub_heading {
        color: #fff;
        font-size: 50px;
        font-style: normal;
        font-weight: 300;
        line-height: 66px;
        margin-top: 200px;
      }
      .sub_dec {
        color: #fff;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: 40px;
        margin-top: 13px;
        opacity: 0.8;
      }
    }
  }
}
@media only screen and (max-width: 1600px) {
  .section {
    padding-top: 30px;
    padding-bottom: 50px;
  
    .first {
      padding: 0 10px;
  
      .left {
        flex: 1;
        height: 960px;
  
        img {
          height: auto !important;
          width: 85% !important;
          margin: auto;
          margin-top: 0;
          margin-right: 0;
          border-radius: 16px;
        }
      }
      .right {
        flex: 1;
        margin-left: 45px;
        margin-bottom: 220px;
  
        .heading {
          font-size: 70px;
          margin-top: 20px;
        }
        .dec {
          font-size: 20px;
          margin-left: 5px;
        }
        .sub_heading {
          font-size: 40px;
          line-height: 56px;
          margin-top: 200px;
        }
        .sub_dec {
          font-size: 21px;
          line-height: 32px;
        }
      }
    }
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .section {
    padding-top: 0px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    height: 100%;
    flex-direction: column;

    .first {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 0;

      .left {
        flex: none;
        max-height: 1100px;
        height: 110vh;
        position: relative;
        overflow: hidden;
        width: 100%;
      
        img {
          height: 95% !important;
          width: 100% !important;
          margin: auto;
          margin-top: 0;
          object-fit: cover;
        }
      
        /* Add a fading layer */
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0));
          pointer-events: none; /* So the layer doesn't interfere with clicking the image */
        }
      }
      
      .right {
        flex: none;
        margin-left: 0;
        margin-bottom: 0;

        .heading {
          margin-top: 20px;
        }
        .sub_heading {
          margin-top: 2.2rem;
        }
        .sub_dec {
          margin-top: 0.38rem;

        }
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .section {
    padding-top: 0px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    height: 100%;
    flex-direction: column;

    .first {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 0;

      .left {
        flex: none;
        max-height: 610px;
        height: 80vh;
        position: relative;
        overflow: hidden;
        width: 100%;

        img {
          height: auto !important;
          width: 100% !important;
        }
      }
      .right {
        flex: none;
        margin-left: 0;
        margin-bottom: 0;

        .heading {
          font-size: 2.125rem;
          margin-top: 20px;
        }
        .dec {
          font-size: 1.125rem;
        }
        .sub_heading {
          font-size: 1.125rem;
          line-height: 1.5rem;
          margin-top: 2.2rem;
        }
        .sub_dec {
          font-size: 0.875rem;
          line-height: 1.5rem;
          margin-top: 0.38rem;

        }
      }
    }
  }
}
