.section {
  height: 1982px;
  background: url(../../../../../public/assets//Images//speaking/thirdSecCover.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.287);
  }
  .layerbottom {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.189) 0%, #000 100%);
  }
  .content {
    position: relative;
    z-index: 9;
    display: flex;
    justify-content: end;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-bottom: 200px;
    padding-top: 630px;
    .top {
      text-align: center;
      .heading {
        color: #cbbd70;
        text-align: center;
        font-family: var(--Gg-Rg);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
      }
      .sub_heading {
        color: var(--white, #fff);
        text-align: center;
        font-size: 60px;
        font-style: normal;
        font-weight: 300;
        line-height: 60px;
        width: 900px;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
      }
      .dec {
        color: var(--white, #fff);
        text-align: center;
        font-family: var(--Gg-Lt);
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        width: 900px;
        margin: auto;
      }
    }
    .trophy {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .singleItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 100px;
        .img {
          width: 130px;
          height: 130px;
          background-color: rgba(0, 0, 0, 0.3);
          border: 1px solid rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(10px);
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .heading {
          color: #cbbd70;
          text-align: center;
          font-family: var(--Gg-Md);
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          margin-top: 30px;
        }
        .dec {
          color: var(--white, #fff);
          text-align: center;
          font-family: var(--Gg-Lt);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 26px;
          opacity: 0.7;
          margin-top: 10px;
        }
      }
    }
    .mob_trophy {
      display: none;
    }
  }
}
@media only screen and (max-width: 1600px) {
  .section {
    height: 1202px;
    .content {
      padding-bottom: 0px;
      padding-top: 300px;
      .top {
        .heading {
          font-size: 20px;
        }
        .sub_heading {
          font-size: 48px;
          width: 700px;
        }
        .dec {
          font-size: 19px;
          width: 800px;
          line-height: 28px;
        }
      }
      .trophy {
        .singleItem {
          width: 300px;
          margin-left: 50px;
          margin-right: 50px;
          margin-bottom: 70px;
          .img {
            width: 100px;
            height: 100px;
            svg {
              scale: 0.8;
            }
          }
          .heading {
            font-size: 21px;
            margin-top: 25px;
          }
          .dec {
            font-size: 18px;
            opacity: 0.7;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .section {
    height: 1202px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.122) 0%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("../../../../../public/assets/Images/speaking/thirdSecCover.jpeg")
        no-repeat center center;
    background-size: contain;
    background-position: top;
    .content {
      padding-bottom: 0px;
      padding-top: 190px;

      .top {
        .heading {
          font-size: 20px;
        }
        .sub_heading {
          font-size: 42px;
          width: 90%;
        }
        .dec {
          font-size: 17px;
          width: 93%;
          line-height: 28px;
        }
      }
      .trophy {
        .singleItem {
          width: 300px;
          margin: 0;
          scale: 0.75;
          .img {
            width: 100px;
            height: 100px;
            svg {
              scale: 0.8;
            }
          }
          .heading {
            font-size: 21px;
            margin-top: 25px;
          }
          .dec {
            font-size: 18px;
            opacity: 0.7;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 600px) {
  .section {
    height: auto;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.122) 0%,
        rgba(0, 0, 0, 0.6) 100%
      ),
      url("../../../../../public/assets/Images/speaking/thirdSecCover.jpeg")
        no-repeat center center;
    background-size: contain;
    background-position: top;

    .content {
      padding-bottom: 0px;
      padding-top: 220px;
      .top {
        .heading {
          font-size: 1.125rem;
        }
        .sub_heading {
          font-size: 1.775rem;
          width: 95%;
          line-height: 2.25rem;
        }
        .dec {
          font-size: 1rem;
          width: 95%;
          line-height: 1.375rem;
          margin-top: 1.2rem;
        }
      }
      .trophy {
        display: none;
      }
      .mob_trophy {
        display: block;
        margin-top: 45px;
        margin-bottom: 25px;

        .img {
          width: 4.25rem;
          height: 4.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: rgba(0, 0, 0, 0.3);
          border-radius: 100%;
          backdrop-filter: blur(10px);
          border: 1px solid rgba(255, 255, 255, 0.1);
          margin-bottom: 30px;

          svg {
            scale: 0.7;
          }
        }
        .singleItem {
          margin-left: 5px;
          margin-right: 5px;
          margin-bottom: 30px;
          width: 100%;

          .heading {
            font-size: 1.25rem;
            color: #cbbd70;
            margin-top: 0;
          }
          .dec {
            font-size: 1rem;
            opacity: 0.7;
            margin-top: 8px;
          }
        }
      }
    }
  }
}
